[Unit]
Description=Openthread Border Router Watchdog
After=docker.service

[Service]
WorkingDirectory=/opt/otbr/docker
ExecStart=python3 /opt/otbr/software/otbr-watchdog/otbr-watchdog.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=otbr-watchdog

[Install]
WantedBy=multi-user.target
