[Unit]
Description=Border router docker compose
Requires=docker.service
After=network.target network-online.target docker.service

[Service]
WorkingDirectory=/opt/otbr/
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=10
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
