[Unit]
Description=Openthread Border Router Reporting Service 
After=otbr-agent.service otbr-nat44.service wpantund.service otbr-init.service

[Service]
ExecStart=/home/pi/otbr/software/otbr-report/otbr-report.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=otbr-report

[Install]
WantedBy=multi-user.target
