[Unit]
Description=Openthread Border Router Log RSSI
Requires=docker.service border-router-docker-compose.service
After=network.target network-online.target docker.service border-router-docker-compose.service

[Service]
WorkingDirectory=/home/pi/otbr-log-rssi/
ExecStart=otbr-log-rssi.py
TimeoutStartSec=10
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
