[Unit]
Description=Openthread Border Router Watchdog
After=otbr-agent.service otbr-nat44.service wpantund.service otbr-init.service

[Service]
ExecStart=/home/pi/otbr/software/otbr-watch/otbr-watch.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=otbr-watch

[Install]
WantedBy=multi-user.target
