[Unit]
Description=Openthread Border Initialization
After=otbr-nat44.service otbr-agent.service otbr-web.service

[Service]
ExecStart=/home/pi/otbr/software/otbr-init/otbr-init.sh
Type=oneshot
RemainAfterExit=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=otbr-init

[Install]
WantedBy=multi-user.target
